.hide {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
  text-align: center;
}

#timer {
  float: right;
}

#title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
  text-align: center;
}

button {
  background-color: coral !important;
  border-color: coral !important;
}